apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: argocd
  namespace: {{ argocd_install_namespace }}
  annotations:
    nginx.ingress.kubernetes.io/backend-protocol: "HTTP"
{% if argocd_ingress_tls_enabled | default(false) %}
    cert-manager.io/cluster-issuer: {{ argocd_cluster_issuer | default("letsencrypt-prod") }}
{% endif %}
spec:
  ingressClassName: nginx
  rules:
    - host: {{ argocd_domain | default("argocd.greenhousenodes.com") }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: argocd-server
                port:
                  number: 80
{% if argocd_ingress_tls_enabled | default(false) %}
  tls:
    - hosts:
        - {{ argocd_domain | default("argocd.greenhousenodes.com") }}
      secretName: argocd-tls
{% endif %}