apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata:
  name: argocd
  namespace: kube-system
spec:
  valuesContent: |-
    configs:
      params:
        server.insecure: "true"
      cm:
        url: https://argocd.greenhousenodes.com
    server:
      extraArgs:
        - --insecure
