apiVersion: v1
kind: Secret
metadata:
  name: repo-creds-platform-private
  namespace: {{ argocd_install_namespace }}
  labels:
    argocd.argoproj.io/secret-type: repository
type: Opaque
stringData:
  url: "{{ argocd_private_repo_url }}"
  sshPrivateKey: |
    {{ (argocd_repo_private_key_b64 | b64decode) | indent(4) }}
  known_hosts: |
    {{ argocd_repo_known_hosts }}